@font-face {
  font-family: "MazzardH";
  font-display: swap;
  src: url("../fonts/MazzardH-Regular.woff2") format("woff2"), url("../fonts/MazzardH-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MazzardH";
  font-display: swap;
  src: url("../fonts/MazzardH-SemiBold.woff2") format("woff2"), url("../fonts/MazzardH-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.spec {
  background: #C8DDFF;
  padding-bottom: 20px;
}

.spec-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.spec-wrap-page-item {
  width: 100%;
  margin-bottom: 30px;
}

.spec-wrap-page-item:hover span img {
  opacity: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.spec-wrap-page-item span {
  color: #2A6DE6;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spec-wrap-page-item span img {
  margin-left: 10px;
  max-width: 18px;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.spec-wrap-page-item p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.spec-wrap-page-item h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-size: 24px;
}

.spec-wrap-page-item h3 img {
  margin-right: 13px;
  -o-object-fit: contain;
     object-fit: contain;
}

.spec-wrap-item {
  width: calc(50% - 12.5px);
  border-radius: 20px;
  background-color: #FAFDFF;
  border: 1px solid #E6E6E6;
  margin-bottom: 20px;
}

.spec-wrap-item-links {
  padding: 20px;
  border-top: 1px solid #E6E6E6;
}

.spec-wrap-item-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 12px;
}

.spec-wrap-item-links a:last-child {
  margin-bottom: 0;
}

.spec-wrap-item-links a:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #2A6DE6;
}

.spec-wrap-item-title {
  background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  font-size: 22px;
  padding: 20px;
  padding-bottom: 17px;
  border-radius: 20px 20px 0 0;
}

.how {
  background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
}

.how-item {
  background: #FAFDFF;
  border: 1px solid #E6E6E6;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(164, 164, 164, 0.1));
          filter: drop-shadow(0px 0px 10px rgba(164, 164, 164, 0.1));
}

.how-item:last-child {
  margin-bottom: 0;
}

.how-item-right {
  width: calc(100% - 60px);
  padding: 10px 50px 10px 20px;
}

.how-item-right h3 {
  font-size: 17px;
  margin-bottom: 5px;
}

.how-item-left {
  border-right: 1px solid #E6E6E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 24px;
  width: 60px;
  border-radius: 25px 0 0 25px;
  background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
}

.features {
  background-color: #C8DDFF;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 30px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.features-item-left {
  width: 64px;
}

.features-item-right {
  width: calc(100% - 64px);
  padding-left: 20px;
}

.features-item-right h3 {
  font-size: 17px;
  margin-bottom: 5px;
}

.answer {
  background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
}

.answer-ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 40px;
}

.answer-ask p {
  font-size: 14px;
}

.answer-ask .button {
  margin-right: 20px;
  max-width: 370px;
  height: 60px;
  padding-left: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #FAFDFF;
  -webkit-box-shadow: 4px 4px 20px rgba(42, 109, 230, 0.1);
          box-shadow: 4px 4px 20px rgba(42, 109, 230, 0.1);
  border-radius: 20px;
  color: #041A2A;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.answer-ask .button:hover {
  background-color: #2A6DE6;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.answer-ask .button::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  height: 45px;
  width: 45px;
  background-color: #FAFDFF;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-image: url(../img/icons/arr-brn-blue.svg);
}

.answer-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.answer-item:hover {
  background-color: #2A6DE6;
  color: #fff;
}

.answer-item:hover h3::after {
  background-image: url(../img/icons/arrow-top-white.svg);
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.answer-item p {
  display: none;
  margin-top: 10px;
}

.answer-item h3 {
  font-size: 18px;
  width: 100%;
  display: block;
  position: relative;
}

.answer-item h3::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 6px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../img/icons/arrow-top-black.svg);
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.answer-item-active {
  color: #fff;
  background-color: #2A6DE6;
}

.answer-item-active:hover h3::after {
  -webkit-transform: translateY(-50%) rotate(0);
      -ms-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}

.answer-item-active h3::after {
  background-image: url(../img/icons/arrow-top-white.svg);
}

.consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #C8DDFF;
}

.consult-left {
  width: 50%;
  border-right: 1px solid rgba(161, 196, 253, 0.5);
}

.consult-left h2 {
  font-size: 36px;
}

.consult-left h2 a {
  display: block;
  color: #2A6DE6;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.consult-left h2 a:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}

.consult-right {
  width: 50%;
}

.consult-right .input-icon {
  position: relative;
}

.consult-right .input-icon::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 24px;
  width: 24px;
  left: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.consult-right .name::after {
  background-image: url(../img/icons/name.svg);
}

.consult-right .email::after {
  background-image: url(../img/icons/email.svg);
}

.consult-right-form {
  max-width: 280px;
  margin: auto;
}

.consult-right-form input[type=submit] {
  margin-top: 40px;
}

.consult-right-form input[type=text],
.consult-right-form input[type=email] {
  background: #FAFDFF;
  border-radius: 10px;
  border: 1px solid #2A6DE6;
  padding-left: 45px;
  height: 45px;
}

.consult-right-form label {
  font-weight: 600;
  font-size: 17px;
  display: block;
  margin-bottom: 4px;
  margin-top: 20px;
}

.consult-right h3 {
  text-align: center;
  margin-top: 20px;
  max-width: 250px;
  font-size: 21px;
  margin-left: auto;
  margin-right: auto;
}

.another {
  background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
}

.another-item {
  margin-bottom: 25px;
  width: 100%;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 20px;
  display: block;
  padding: 15px;
}

.another-item:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-color: #2A6DE6;
}

.another-item:hover h3,
.another-item:hover p {
  color: #fff;
}

.another-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 20px;
}

.another-item-link img {
  display: block;
  margin-left: 15px;
}

.another-item:last-child {
  margin-bottom: 0;
}

.another-item .num {
  background: -o-linear-gradient(340.71deg, #A1C4FD 13.34%, #C2E9FB 94.33%);
  background: linear-gradient(109.29deg, #A1C4FD 13.34%, #C2E9FB 94.33%);
  border: 1px solid #E6E6E6;
  border-radius: 47px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 28px;
  margin-bottom: 10px;
}

.another-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  max-width: 400px;
}

.another-item p {
  line-height: 1.5;
  max-width: 400px;
}

.help {
  background: #C8DDFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.help-left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-left p {
  font-size: 20px;
}

.help-left p span {
  color: #2A6DE6;
  font-weight: 600;
}

.help-right {
  width: 50%;
  padding-right: 50px;
}

.help-right li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 27px;
}

.help-right li:last-child {
  margin-bottom: 0;
}

.help-right li::after {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #2A6DE6;
  top: 10px;
  left: 0;
  border-radius: 100%;
}

.word {
  background: #C8DDFF;
  position: relative;
}

.word img {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.word p {
  background: #FAFDFF;
  border: 1px solid #E6E6E6;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0px 20px;
  margin-bottom: 10px;
  padding: 20px;
  max-width: 480px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.word p:last-child {
  border-radius: 20px 0 20px 20px;
}

.cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  position: relative;
}

.cost::after {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 240px;
  width: 240px;
  background-repeat: no-repeat;
  background-size: right bottom;
  background-image: url(../img/cost.svg);
  content: "";
  z-index: 1;
}

.cost-right {
  width: calc(100% - 380px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cost-right-item {
  padding: 30px;
  display: none;
}

.cost-right-item p {
  font-size: 17px;
  line-height: 27px;
}

.cost-right-item b {
  font-size: 32px;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

.cost-right-item b::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: -o-linear-gradient(344.18deg, #CBE7FB 2.89%, #A3D4F7 104.07%);
  background: linear-gradient(105.82deg, #CBE7FB 2.89%, #A3D4F7 104.07%);
  bottom: 0;
  left: 0;
}

.cost-left {
  width: 360px;
  position: relative;
}

.cost-left::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background: -o-linear-gradient(344.18deg, #CBE7FB 2.89%, #A3D4F7 104.07%);
  background: linear-gradient(105.82deg, #CBE7FB 2.89%, #A3D4F7 104.07%);
  right: 0;
  top: 0;
}

.cost-left-item {
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.cost-left-item:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-color: #2A6DE6;
  color: #fff;
}

.cost-left-item-active {
  background-color: #2A6DE6;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  padding: 10px 15px;
}

.cost-left-item:last-child {
  margin-bottom: 0;
}

.cost-mobile {
  display: none;
}

.answer-page {
  background: #C8DDFF;
}

.answer-page .answer-ask .button {
  color: #2A6DE6;
}

.answer-page .answer-ask .button:hover {
  color: #fff;
}

.consult-white {
  background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
}

#thx {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 25px 25px 25px;
  max-width: 95vw;
  max-height: 95vh;
  width: 400px;
  padding-top: 80px;
  height: 300px;
  z-index: 100;
  display: none;
}

#thx h2 {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 34px;
  margin-bottom: 50px;
}

#thx p {
  font-size: 16px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.wpcf7-response-output {
  display: none !important;
}

.overlay-popup {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  background-color: rgba(238, 243, 246, 0.5);
  z-index: 50;
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 80;
  width: 340px;
  max-width: calc(100% - 30px);
  background: #C7E5FA;
  -webkit-box-shadow: 0px 10px 30px rgba(122, 122, 122, 0.2);
          box-shadow: 0px 10px 30px rgba(122, 122, 122, 0.2);
  border-radius: 15px;
  padding: 40px 20px 20px 20px;
  display: none;
}

.popup h4 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 30px;
}

.popup-row {
  margin-bottom: 15px;
}

.popup input {
  background-color: #FAFDFF;
  height: 50px;
  border-radius: 10px;
}

.popup input[type=submit] {
  margin-top: 35px;
  background-color: #2A6DE6;
  -webkit-filter: drop-shadow(0px 10px 30px rgba(19, 141, 225, 0.32));
          filter: drop-shadow(0px 10px 30px rgba(19, 141, 225, 0.32));
  font-size: 15px;
}

.popup input[type=submit]:hover {
  background: #fff;
}

.footer {
  background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
  border-radius: 30px;
  padding: 40px 20px 20px 20px;
  position: relative;
}

.footer::after {
  position: absolute;
  content: "";
  height: 240px;
  width: 240px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  background-image: url(../img/footer.svg);
}

.footer-text {
  padding-top: 18px;
  border-top: 1px solid #7D7D7D;
  max-width: 520px;
}

.footer-text p {
  color: #7D7D7D;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-bottom: 20px;
}

.footer-nav-right {
  width: 300px;
}

.footer-nav-right a,
.footer-nav-right p {
  display: block;
  margin-bottom: 20px;
}

.footer-nav-right span {
  color: #2A6DE6;
  cursor: pointer;
  position: relative;
}

.footer-nav-right span:hover small {
  display: block;
}

.footer-nav-right span small {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  color: #000;
  font-size: 14px;
  line-height: 1.3;
  top: -135px;
  left: -20px;
}

.footer-nav-left {
  width: 210px;
}

.footer-nav-left ul li {
  display: block;
  margin-bottom: 20px;
}

.footer-nav-left ul li:last-child {
  margin-bottom: 0;
}

.footer-nav h3 {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
}

.footer-logo a {
  max-width: 170px;
  margin-right: 20px;
}

.footer-logo h2 {
  font-weight: 400;
  color: #2A6DE6;
  padding-left: 20px;
  font-size: 20px;
  position: relative;
}

.footer-logo h2::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 1px;
  background: -o-linear-gradient(340.71deg, #A1C4FD 13.34%, #C2E9FB 94.33%);
  background: linear-gradient(109.29deg, #A1C4FD 13.34%, #C2E9FB 94.33%);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-single {
  background: #C8DDFF;
}

.footer-single .footer-logo h2::after {
  background: #fff;
}

.footer-single .footer-text p {
  color: #fff;
}

.footer-single .footer-text {
  border-top: 1px solid #fff;
}

@media (max-width: 1200px) {
  .consult-left h2 {
    padding-right: 20px;
    font-size: 30px;
  }

  .word img {
    max-width: 180px;
  }

  .word p {
    max-width: 380px;
  }

  .cost-left {
    width: 320px;
  }

  .cost-right {
    width: calc(100% - 330px);
  }

  .cost-right-item {
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .spec-wrap-item {
    width: 100%;
  }

  .answer-ask {
    display: block;
  }

  .answer-ask .button {
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 100%;
  }

  .consult {
    display: block;
  }

  .consult-left {
    width: 100%;
  }

  .consult-right {
    width: 100%;
  }

  .consult-right-form {
    max-width: 100%;
  }

  .consult-right-form input {
    max-width: 100%;
  }

  .another-item {
    padding: 0;
    margin-bottom: 20px;
  }

  .another-item:hover {
    background: transparent;
  }

  .another-item:hover h3,
  .another-item:hover p {
    color: #041A2A;
  }

  .another-item:hover h3 {
    font-size: 20px;
  }

  .another-item:hover p {
    font-size: 16px;
  }

  .another-item-link {
    position: static;
    color: #2A6DE6;
    margin-top: 15px;
  }

  .help {
    display: block;
    position: relative;
    padding-bottom: 100px;
  }

  .help-left {
    width: 100%;
  }

  .help-left p {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .help-right {
    width: 100%;
  }

  .word {
    padding-bottom: 0;
  }

  .word p {
    max-width: 100%;
    width: 100%;
  }

  .word img {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .cost {
    display: none;
  }

  .cost-mobile {
    display: block;
    background: -o-linear-gradient(326.81deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
    background: linear-gradient(123.19deg, #FAFDFF 1.4%, #EDF7FE 106.46%);
    position: relative;
  }

  .cost-mobile::after {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 130px;
    width: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: right bottom;
    background-image: url(../img/cost.svg);
    content: "";
    z-index: 1;
  }

  .cost-mobile-item {
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }

  .cost-mobile-item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .cost-mobile-item-title h3 {
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
  }

  .cost-mobile-item-title b {
    font-size: 18px;
    white-space: nowrap;
  }

  .cost-mobile-item-title img {
    display: block;
    width: 20px;
    margin-right: 10px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .cost-mobile-item-title p {
    font-size: 14px;
  }

  .cost-mobile-item-text {
    padding: 10px 15px;
    background: #FAFDFF;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    margin-top: 10px;
    display: none;
  }
}

@media (max-width: 767px) {
  section {
    padding: 20px;
  }

  .body {
    padding-left: 0;
  }

  .consult-left {
    border-right: none;
    border-bottom: 1px solid rgba(161, 196, 253, 0.5);
    padding-bottom: 20px;
  }
}

@media (max-width: 578px) {
  .spec-wrap-item-links a p {
    padding-right: 5px;
  }

  .consult-left h2 {
    font-size: 26px;
    line-height: 34px;
  }

  .answer-ask p {
    font-size: 12px;
  }

  .answer-ask .button {
    color: #2A6DE6;
    font-size: 18px;
  }

  .answer-item h3 {
    font-size: 16px;
  }

  .features-item {
    position: relative;
  }

  .features-item-right {
    width: 100%;
    padding-top: 20px;
    padding-left: 0;
  }

  .features-item-right h3 {
    margin-bottom: 20px;
    min-height: 40px;
    padding-left: 80px;
    font-size: 16px;
  }

  .features-item-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .how-item {
    display: block;
    position: relative;
  }

  .how-item-left {
    width: 100%;
    border-radius: 25px 25px 0 0;
    padding: 15px 15px 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 70px;
    text-align: start;
  }

  .how-item-right {
    width: 100%;
  }

  .how-item-right h3 {
    position: absolute;
    top: 28px;
    font-size: 16px;
    left: 55px;
    min-height: 38px;
  }

  .spec-wrap-item-links a {
    margin-bottom: 20px;
  }

  .footer-text {
    max-width: 65%;
    font-size: 12px;
  }

  .footer::after {
    height: 140px;
    width: 150px;
  }

  .how-item-right {
    padding-right: 10px;
  }

  .footer-single .footer-text p {
    color: #041A2A;
  }

  .answer-item h3 {
    padding-right: 15px;
  }

  .footer-nav {
    display: block;
  }

  .footer-nav-left {
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-nav-left::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: -o-linear-gradient(340.71deg, #a1c4fd 13.34%, #c2e9fb 94.33%);
    background: linear-gradient(109.29deg, #a1c4fd 13.34%, #c2e9fb 94.33%);
    left: 0;
    bottom: 0;
  }

  .footer-logo {
    display: block;
  }

  .footer-logo h2 {
    color: #041A2A;
    padding: 0;
    margin: 0;
    border: none;
    padding-bottom: 20px;
    font-weight: 600;
  }

  .footer-logo h2::after {
    width: 100%;
    height: 1px;
    bottom: 0;
    top: auto;
    left: 0;
  }

  .footer-logo a {
    margin: 0;
    margin-bottom: 20px;
    display: block;
  }

  .footer-logo img {
    max-width: 190px;
  }
}

@media (max-width: 370px) {
  .how-item-right h3 {
    top: 32px;
    font-size: 13px;
  }

  .features-item-right {
    padding-top: 10px;
  }

  .features-item-right h3 {
    padding-left: 60px;
  }

  .features-item-left {
    height: 50px;
    width: 50px;
  }

  .how-item-left {
    min-height: 70px;
    padding-top: 20px !important;
  }
}